<h1>{{title}}</h1>

<h2>Built-in Pipes</h2>
<app-lower-upper-case-pipe></app-lower-upper-case-pipe>

<app-date-pipe></app-date-pipe>

<app-json-pipe></app-json-pipe>

<app-key-value-pipe></app-key-value-pipe>

<app-number-pipe></app-number-pipe>

<app-currency-pipe></app-currency-pipe>

<app-percent-pipe></app-percent-pipe>

<app-i18n-plural-pipe></app-i18n-plural-pipe>

<app-i18n-select-pipe></app-i18n-select-pipe>

<app-slice-pipe></app-slice-pipe>

<app-async-observable-pipe></app-async-observable-pipe>


<h2>Pipes in code</h2>
<app-use-pipe></app-use-pipe>


<h2>Pure and Impure Pipes</h2>
<app-list></app-list>

<h2>Use Pipe Result</h2>
<app-use-pipe-result></app-use-pipe-result>


