<details>
    <summary><i>currency</i> pipe demo</summary>
    <!-- DEFAULT_CURRENCY_CODE is set in BuiltInPipesModule-->
    <p>currency: {{a | currency}}</p>
    <p>currency:'USD': {{a | currency:'USD'}}</p>
    <p>currency:'CAD': {{a | currency:'CAD'}}</p>
    <p>currency:'USD':code: {{a | currency:'USD':'code'}}</p>
    <p>currency:'CAD':code: {{a | currency:'CAD':'code'}}</p>
    <p>currency:'USD':symbol:'4.2-2': {{b | currency:'USD':'symbol':'4.2'}}</p>
    <p>currency:'CAD':symbol:'4.2-2': {{b | currency:'CAD':'symbol':'4.2-2'}}</p>
    <p>currency:'CAD':symbol-narrow:'4.2-2': {{b | currency:'CAD':'symbol-narrow':'4.2-2'}}</p>
    <p>currency:'CAD':symbol:'4.2-2': {{b | currency:'CAD':'symbol':'4.2-2':'fr'}}</p>
</details>
